{
  "swagger": "2.0",
  "info": {
    "title": "Student API",
    "description": "This is the Student API",
    "version": "1.0.0"
  },
  "host": "students-3scale.apps.rhsademo.net",
  "schemes": [
    "http"
  ],
  "basePath": "/v1",
  "produces": [
    "application/json"
  ],
  "paths": {
    "/students/{id}": {
      "get": {
        "summary": "Find Student by ID",
        "description": "Allows submission of admission applications from local reading and scoring systems to the main campus SIS\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Student Identifier",
            "required": true,
            "type": "number",
            "format": "double"
          }
        ],
        "tags": [
          "Students"
        ],
        "responses": {
          "200": {
            "description": "Students",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Student"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/students/{id}/academic-status": {
      "get": {
        "summary": "Find Student Academic Status by ID",
        "description": "Allows submission of admission applications from local reading and scoring systems to the main campus SIS\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Student Identifier",
            "required": true,
            "type": "number",
            "format": "double"
          }
        ],
        "tags": [
          "Students"
        ],
        "responses": {
          "200": {
            "description": "Students",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Student"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/students/{id}/affiliations": {
      "get": {
        "summary": "Find Student Affiliations by ID",
        "description": "Allows submission of admission applications from local reading and scoring systems to the main campus SIS\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Student Identifier",
            "required": true,
            "type": "number",
            "format": "double"
          }
        ],
        "tags": [
          "Students"
        ],
        "responses": {
          "200": {
            "description": "Students",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Student"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/students/{id}/all": {
      "get": {
        "summary": "Get all core data about a student",
        "description": "Allows submission of admission applications from local reading and scoring systems to the main campus SIS\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Student Identifier",
            "required": true,
            "type": "number",
            "format": "double"
          }
        ],
        "tags": [
          "Students"
        ],
        "responses": {
          "200": {
            "description": "Students",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Student"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/students/{id}/contacts": {
      "get": {
        "summary": "Find Student Contacts by ID",
        "description": "Allows submission of admission applications from local reading and scoring systems to the main campus SIS\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Student Identifier",
            "required": true,
            "type": "number",
            "format": "double"
          }
        ],
        "tags": [
          "Students"
        ],
        "responses": {
          "200": {
            "description": "Students",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Student"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/students/{id}/demographic": {
      "get": {
        "summary": "Find Student demographic information (contacts, address, phone etc) by ID",
        "description": "Allows submission of admission applications from local reading and scoring systems to the main campus SIS\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Student Identifier",
            "required": true,
            "type": "number",
            "format": "double"
          }
        ],
        "tags": [
          "Students"
        ],
        "responses": {
          "200": {
            "description": "Students",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Student"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/students/{id}/dob": {
      "get": {
        "summary": "Find Student date of birth by ID",
        "description": "Allows submission of admission applications from local reading and scoring systems to the main campus SIS\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Student Identifier",
            "required": true,
            "type": "number",
            "format": "double"
          }
        ],
        "tags": [
          "Students"
        ],
        "responses": {
          "200": {
            "description": "Students",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Student"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/students/{id}/gender": {
      "get": {
        "summary": "Find Student gender by ID",
        "description": "Allows submission of admission applications from local reading and scoring systems to the main campus SIS\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Student Identifier",
            "required": true,
            "type": "number",
            "format": "double"
          }
        ],
        "tags": [
          "Students"
        ],
        "responses": {
          "200": {
            "description": "Students",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Student"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Student": {
      "type": "object",
      "properties": {
        "first_name": {
          "type": "string",
          "description": "Students First Name"
        },
        "last_name": {
          "type": "string",
          "description": "Student's last name."
        },
        "major": {
          "type": "string",
          "description": "Major of the Student"
        }
      }
    },
    "Error": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "fields": {
          "type": "string"
        }
      }
    }
  }
}
